<div class="container" style="padding-top: 103px;">
	<div class="inner-container">
	{{#each eventTypes}}
		<div class="setting">
			<div class="index">{{counter @index}}</div>
			<div class="event_name">{{category_name}}</div>
		</div>
	{{/each}}
	</div>
</div>